body,
html {
    height: 100%;
}

.navbar-custom {
    background-color: rgb(252, 242, 223);
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: brown;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: brown;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#container1 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#form_pizza {
    background-color: rgb(252, 242, 223) !important;
    border: 2px solid brown;
    border-radius: 5px;
    border-style: ridge;
    padding-bottom: 5px;
}

#button_add_pizza {
    align-items: center;
    justify-content: center;
}

#container2 {
    background-color: rgb(252, 242, 223) !important;
}

#button_order {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container3 {
    text-align: center;
    padding: 10px;
}

#pizza_table {
    border: 2px solid brown;
    border-radius: 5px;
    border-style: ridge;
}

.bg {
    /* The image used */
    background-image: url('../img/pizza_background.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table,
.table tr,
.table td {
    background-color: rgb(252, 242, 223) !important;
}

.label {
    background-color: rgb(252, 242, 223) !important;
}