<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pizza Store</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link href="../static/css/bootstrap.css" media="all" rel="stylesheet" th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <link href="../static/css/style.css" media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/scripts/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


</head>


<body>

<nav class="navbar navbar-expand-lg navbar navbar-custom">
    <a class="navbar-brand" href="#" th:text="#{title.application.pizza}">
        <img alt="" class="d-inline-block align-top" height="30" src="../static/img/pizza_icon_3.png"
             th:src="@{/img/pizza_icon.jpg}" width="30"> Pizza Store
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-dark" data-target="#navbarSupportedContent" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="pizzamanager">Add pizza</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="gallery">Gallery</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="ordermanager"> Order <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" href="payment">Payment</a>

            </li>

        </ul>
    </div>
</nav>


<div class="bg">

    <div class="container-fluid text-center" id="container7">

        <form action="#" id="payment_form" method="get" onsubmit="send()">
            <div class="form-group">

                <label for="name"> Imię*: </label>
                <input class="form-control" id="name" name="name" pattern="[A-Z][a-z]{1,15}" placeholder="Jan" required
                       title="Podaj imię" type="text"/>

                <label for="surname"> Nazwisko*: </label>
                <input class="form-control" id="surname" name="surname" pattern="[A-Z][a-z]{1,20}"
                       placeholder="Kowalski" required title="Podaj nazwisko" type="text"/>

                <label for="card_number"> Numer karty*: </label>
                <input class="form-control" id='card_number' name="card_number" pattern="[0-9]{16}"
                       placeholder="0123 4567 8901 2345" title="please enter numbers only" type="text">

                <label for="expiration_date"> Data ważności*: </label>
                <input class="form-control" id='expiration_date' name="expiration_date" type="date">

                <label for="cvv"> CVV*: </label>
                <input class="form-control" id='cvv' name="cvv" pattern="[0-9]{3}" placeholder="123"
                       title="please enter numbers only" type="text">

                <label for="date_of_birth"> Data urodzenia*: </label>
                <input class="form-control" id='date_of_birth' name="date_of_birth" type="date">

                <label for="phone_number"> Numer telefonu*: </label>
                <input class="form-control" id='phone_number' name="phone_number" pattern="[0-9]{9}"
                       placeholder="000-000-000" title="please enter numbers only" type="tel"><br/>

            </div>


            <button class="btn btn-success" id="button_add_payment" name="create_payment" type="submit">Dodaj forme
                płatności
            </button>
            <button class="btn btn-secondary" onclick="showAll()" type="button">Pokaż wszystko</button>
            <button class="btn btn-danger" onclick="clearStorage()" type="button">Wyczyść wszystko</button>
            <button class="btn btn-warning" onclick="document.getElementById('payment_form').reset();" type="button">
                Reset
            </button>

        </form>
        <div id="list"></div>


    </div>


</div>
</body>

</html>