<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pizza Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <script src="scripts/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>


<body>

    <div class="bg">

        <nav class="navbar navbar-custom">
            <a class="navbar-brand" th:text="#{title.application}" href="pizzamanager.html">Pizza Store</a>
        </nav>

        <div class="container" id="container1">

            <form action="#" th:action="@{/pizzamanager}" th:object="${pizza}" method="post" id="form_pizza">
                <div class="form-group">
                    <label for="exampleInputPizzaName">Pizza Name</label>
                    <input type="text" class="form-control" id="exampleInputPizzaName" aria-describedby="pizzaName" th:field="*{name}">
                </div>

                <div class="container" id="container2">
                    <label>Ingredients</label>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>

                                <th><button type="submit" class="btn btn-success" name="addIngredient" th:text="#{pizzarep.ingredients.add}">Add ingredient</button></th>
                            </tr>


                        </thead>
                        <tbody>
                            <tr th:each="ingredient, iStat : *{ingredients}">
                                <td> <input type="text" class="form-control" th:field="*{ingredients[__${iStat.index}__].name}">
                                </td>
                                <td><button type="submit" class="btn btn-danger" th:value="${iStat.index}" th:text="#{pizzarep.ingredients.remove}">Remove ingredient</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary" id="button_add_pizza" th:text="#{pizzarep.create}" name="save">Add pizza</button>
            </form>
        </div>

        <div class="container" id="container3" th:unless="${#lists.isEmpty(allPizzas)}">
            <table class="table table-bordered" id="pizza_table">
                <thead>
                    <tr>
                        <th scope="col" th:text="#{pizzarep.name}">Name</th>
                        <th scope="col" th:text="#{pizzarep.ingredients}">Ingredients</th>
                        <th scope="col" th:text="#{pizzarep.order}">Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pz : ${allPizzas}">
                        <th scope="row" th:text="${pz.name}">Margarita</th>
                        <td>
                            <ul class="list-group" th:each="ingredient,ingredientStat : ${pz.ingredients}">
                                <li class="list-group-item" th:text="${ingredient.name}">Tomato Sauce</li>

                            </ul>
                        </td>
                        <td><button class="btn btn-info" th:attr="onclick=|onClick('${pz.getId()}')|" id="button_order">Order</button></td>


                    </tr>


                </tbody>
            </table>


        </div>



    </div>




</body>

</html>