<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pizza Store</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="../static/css/style.css" media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link href="../static/css/bootstrap.css" media="all" rel="stylesheet" th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <script src="scripts/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>


<body>


<nav class="navbar navbar-expand-lg navbar navbar-custom">
    <a class="navbar-brand" href="#" th:text="#{title.application.pizza}">
        <img alt="" class="d-inline-block align-top" height="30" src="../static/img/pizza_icon_3.png" width="30"> Pizza
        Store
    </a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="pizzamanager" th:text="#{title.application.pizza}">Add pizza</a>
            <a class="nav-link" href="pizzamanager" th:text="#{title.application.gallery}">Gallery</a>
            <a class="nav-link" href="gallery" th:text="#{title.application.order}"> Order <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>


<div class="bg">


    <div class="container" id="container4" th:unless="${#lists.isEmpty(allPizzas)}">
        <table class="table table-bordered" id="pizza_table">
            <thead>
            <tr>
                <th scope="col" th:text="#{pizzarep.name}">Name</th>
                <th scope="col" th:text="#{pizzarep.ingredients}">Ingredients</th>
                <th scope="col" th:text="#{pizzarep.cost}">Cost</th>
                <th scope="col" th:text="#{pizzarep.isordered}">Is ordered?</th>
                <th scope="col" th:text="#{pizzarep.order}">Order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pz : ${allPizzas}">
                <th scope="row" th:text="${pz.name}">Margarita</th>
                <td>
                    <ul class="list-group" th:each="ingredient,ingredientStat : ${pz.ingredients}">
                        <li class="list-group-item" th:text="${ingredient.name}">Tomato Sauce</li>

                    </ul>
                </td>
                <th scope="row" th:text="${pz.getPizzaCost()} + PLN">10 PLN</th>

                <td scope="row" th:text="#{|bool.${pz.chosen}|}"> Yes</td>
                <td>
                    <button class="btn btn-info" id="button_order" th:attr="onclick=|onClick('${pz.getId()}')|">Order
                    </button>
                </td>


            </tr>
            <tfoot>

            <tr>

                <td colspan="2" scope="row" th:text="#{pizzarep.order.cost}">Total cost</td>
                <td colspan="3" scope="row" th:text="${pizzaPrices} + ' PLN'">25PLN</td>

            </tr>

            </tfoot>


            </tbody>
        </table>


    </div>


    <div class="container" id="container5">

        <form action="#" id="form_pizzaorder" method="post" th:action="@{/ordermanager}" th:object="${pizzaorder}">
            <div class="form-group">

                <label for="ordername" th:text="#{pizzarep.name}">Name</label>
                <input class="form-control" id="ordername" required th:field="*{name}" type="text">

                <label for="ordersurname" th:text="#{pizzarep.surname}">Surname</label>
                <input class="form-control" id="ordersurname" required th:field="*{surname}" type="text">

                <label for="address" th:text="#{pizzarep.address}">Address</label>
                <input class="form-control" id="address" required th:field="*{address}" type="text">

                <label for="phonenumber" th:text="#{pizzarep.phonenumber}">Phone number</label>
                <input class="form-control" id="phonenumber" required th:field="*{phoneNumber}" type="number">

                <label for="email" th:text="#{pizzarep.email}">E-mail</label>
                <input class="form-control" id="email" required th:field="*{email}" type="email">

            </div>


            <button class="btn btn-primary" id="button_add_order" name="create_order" th:text="#{order.create}"
                    type="submit">Make an order
            </button>
        </form>

    </div>


</div>


</body>

</html>